/*
 * Copyright 2020-2021 The OS-NVR Authors.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
 * IE support removed. */

/* stylelint-disable plugin/no-unsupported-browser-features */
html {
	height: 100%;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
h1 {
	margin: 0.67em 0;
	font-weight: normal;
	font-size: 2em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-size: 1em;
	font-family: monospace;
}
abbr[title] {
	text-decoration: underline;
	text-decoration: underline dotted;
	border-bottom: none;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-size: 1em;
	font-family: monospace;
}
small {
	font-size: 80%;
}
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-size: 100%;
	font-family: inherit;
	line-height: 1.15;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button {
	padding: 0;
	border: 0;
	outline: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	display: table;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
details {
	display: block;
}
summary {
	display: list-item;
}
/* stylelint-enable plugin/no-unsupported-browser-features */

/* normalize.css end */

:root {
	font-size: 12vw; /* Window scale */
	font-family: Arial, Helvetica, sans-serif;

	--barsize: 1.4rem;
	--icon-padding: 0.15rem;
	--sidebar-width: 6rem;
	--gridsize: 1;
}

body {
	display: flex;
	height: 100%;
	margin: 0;
	background-color: var(--colorbg);

	/* Disable pull down to refresh */
	overscroll-behavior-y: contain;
}

ul {
	margin: 0;
	padding: 0;
}

li,
span {
	display: block;
}

input {
	display: block;
	padding: 0;
}

a:focus {
	outline: none;
}

/* Mobile portrait mode */

/* sidebar */
#topbar {
	position: absolute;
	z-index: 1;
	display: flex;
	width: 100%;
	background: var(--color1);
}

#topbar img {
	margin: var(--icon-padding);
}

#current-page {
	margin: auto;
	padding-right: 1rem;
	color: var(--color-text);
	font-size: 0.7rem;
}

#sidebar {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 0;
	height: 100%;
	overflow-x: hidden;
	background: var(--color1);
	transition: width 400ms;
}

#sidebar-checkbox {
	position: absolute;
	display: none;
}

#sidebar-btn {
	position: absolute;
	z-index: 10;
	width: var(--barsize);
	height: var(--barsize);
}

#sidebar-closer {
	position: absolute;
	z-index: 2;
	display: none;
	width: 100vw;
	height: 100vh;
}

#nav-btn {
	padding-left: 0.2rem;
	border: none;
}

#sidebar-checkbox:checked ~ #sidebar {
	width: var(--sidebar-width);
}

#sidebar-checkbox:checked ~ #sidebar-closer {
	display: block;
}

#sidebar-checkbox:checked ~ #sidebar-btn {
	width: var(--sidebar-width);
}

#sidebar-btn:hover ~ * #topbar-btn {
	background: var(--color1-hover);
}

#sidebar-btn:hover ~ * #nav-btn {
	background: var(--color1-hover);
}

#navbar {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
}

.nav-icon {
	height: 1.1rem;
	filter: var(--color-icons);
}

.nav-link {
	display: flex;
	align-items: center;
	width: var(--sidebar-width);
	padding: var(--icon-padding);
	padding-left: 0.3rem;
	text-decoration: none;
	border-color: var(--color1-hover);
	border-width: 0.01rem;
	border-bottom-style: solid;
}

.nav-link:focus {
	background: var(--color1-hover);
}

.nav-link:hover {
	background: var(--color1-hover);
}

.nav-text {
	margin-left: 0.4rem;
	color: var(--color-text);
	font-size: 0.6rem;
}

#statusbar {
	width: var(--sidebar-width);
	margin-top: 0.2rem;
	margin-bottom: 0.4rem;
}

#statusbar li {
	margin-top: 0.2rem;
}

.statusbar-text-container {
	display: flex;
}

.statusbar-text {
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	color: var(--color-text);
	font-size: 0.4em;
}

.statusbar-number {
	margin-left: auto;
}

.statusbar-progressbar {
	height: 0.3rem;
	margin-right: 0.3rem;
	margin-left: 0.3rem;
	padding: 0.05rem;
	background: var(--colorbg);
	border-radius: 0.2rem;
}

.statusbar-progressbar span {
	display: block;
	width: 50%;
	height: 100%;
	background: var(--color1);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	border-bottom-left-radius: 0.5rem;
}

#content {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-top: var(--barsize);
	overflow-y: hidden;
}

/* needed for scrolling on overflow */
#content-grid-wrapper {
	height: 100%;
	overflow-y: auto;
}

#content-grid {
	display: grid;
	grid-template-columns: repeat(var(--gridsize), auto);
}

.grid-item-container {
	position: relative;
	display: flex;
	max-height: 100vh;
}

.grid-item {
	width: 100%;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-open {
	display: flex;
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	background: var(--color3);
}

.modal-header {
	display: flex;
	padding: 0.1rem;
	background: var(--color2);
}

.modal-title {
	width: 100%;
	padding-left: 0.7rem;
	color: var(--color-text);
	font-size: 0.8rem;
	text-align: center;
}

.modal-close-btn {
	display: flex;
	margin: auto;
	background: var(--color3);
	border-radius: 0.1rem;
}

.modal-close-icon {
	height: 0.9rem;
	filter: var(--color-icons);
}

.modal-content {
	height: 100%;
	overflow-y: auto;
}

.green {
	background: var(--color-green);
}
.green:hover {
	background: var(--color-green-hover);
}

.red {
	background: var(--color-red);
}
.red:hover {
	background: var(--color-red-hover);
}

.color3 {
	background: var(--color3);
}
.color3:hover {
	background: var(--color3-hover);
}

.color2 {
	background: var(--color2);
}
.color2:hover {
	background: var(--color2-hover);
}

/* form */

.form {
	overflow-x: hidden;
	overflow-y: auto;
}

.form-button-wrapper {
	display: flex;
}

.form-button {
	margin: 0.2rem;
	padding: 0.1rem;
	border-radius: 0.2rem;
}

.form-button span {
	color: var(--color-text);
	font-size: 0.7rem;
}

/* buttons */

.save-btn {
	background: var(--color-green);
}
.save-btn:hover {
	background: var(--color-green-hover);
}

.delete-btn {
	margin-left: auto;
	background: var(--color-red);
}
.delete-btn:hover {
	background: var(--color-red-hover);
}

/* Mobile Landscape mode. */
@media (min-aspect-ratio: 3/2) {
	:root {
		font-size: 12vh; /* Window scale. */

		--gridsize: 2;
	}

	#current-page {
		display: none;
	}

	#topbar {
		width: auto;
	}

	#statusbar {
		display: none;
	}

	#content {
		padding-top: 0;
		padding-left: var(--barsize);
	}
}

/* Tablet/Dektop. */
@media only screen and (min-width: 768px) {
	:root {
		font-size: 5vh; /* Window scale. */

		--gridsize: 3;
	}

	#topbar {
		z-index: 3;
		width: var(--barsize);
	}

	#current-page {
		display: none;
	}

	#sidebar {
		position: relative;
		width: 6rem;
	}

	#content {
		padding-top: 0;
		padding-left: var(--sidebar-width);
		transition: padding-left 400ms;
	}

	#sidebar-checkbox:checked ~ #sidebar {
		width: 0;
	}

	#sidebar-checkbox:checked ~ #content {
		padding-left: 0;
		transition: padding-left 400ms;
	}

	#sidebar-checkbox:checked ~ #topbar {
		opacity: 0.5;
	}

	#sidebar-checkbox:checked ~ #sidebar-closer {
		width: 0;
	}

	#nav-btn {
		margin-bottom: 0.6rem;
		visibility: hidden;
	}

	#statusbar {
		display: block;
	}

	.modal {
		width: 50vw;
		height: 90vh;
		padding-bottom: 0.3rem;
		border-radius: 0.2rem;
	}

	.modal-header {
		border-radius: 0.2rem 0.2rem 0 0;
	}
}
